{%extends 'Navigation.html'%}
{%block content%}  
<link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/heroes/">

<main calss = "container">
  <div class="row">
  <div class = "col-md-4 offset-md-4">
      <p>{{error}}</p>
      <!-- Replace "test" with your own sandbox Business account app client ID -->
<script src="https://www.paypal.com/sdk/js?client-id=AROiVbckHn81i8o2Rexwo1193dp3Foas-904O-exbQlwpCufNsGkKTlhJ5rdWMHp0D1mFxJv3JgrgTv-&currency=MXN"></script>
<!-- Set up a container element for the button -->
<div id="paypal-button-container"></div>
<script>
  paypal.Buttons({
    // Sets up the transaction when a payment button is clicked
    createOrder: (data, actions) => {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '1' // Can also reference a variable or function
          }
        }]
      });
    },
    // Finalize the transaction after payer approval
    onApprove: (data, actions) => {
      return actions.order.capture().then(function(orderData) {
        // Successful capture! For dev/demo purposes:
        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
        const transaction = orderData.purchase_units[0].payments.captures[0];
        alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
        
        // When ready to go live, remove the alert and show a success message within this page. For example:
        // const element = document.getElementById('paypal-button-container');
        // element.innerHTML = '<h3>Thank you for your payment!</h3>';
        // Or go to another URL:  actions.redirect('thank_you.html');
        document.getElementById('pagado').submit();
      });
    }
  }).render('#paypal-button-container');
</script>
  </div>
  </div>
</main>

<form action="#" id = "pagado" method="POST">
  {% csrf_token %}
  

<textarea name="ContractTerms" cols="30" rows="10" >
{%if texto %}{{texto}}{%else%}{% for Contract_text in Contract_text %}{{Contract_text.texto}}{% endfor %}
{% for N_hours in N_hours %}Duracion del evento: {{N_hours}} horas {% endfor %}
{{Pack.descripcion}}
Y como extra añadira:
{% for Extras in Extras %}{{Extras.descripcion}}{% endfor %}
{% endif %}
</textarea>
<input type="text" name="fecha_inicio" value ="{{fi}}" id="id_fecha_inicio" >
<input type="text" name="hora_inicio" value ="{{hi}}" id="id_hora_inicio"  >
<input type="text" name="hora_fin" value = "{{hf}}" required="" id="id_fecha_fin"  >

</form>
<style>
    p{
        font-size: 30px;
    }
    .pp{
        font-size: 30px;
    }
    .pp2{
        font-size: 20px;
    }
    #pagado{
      display: none;
    }
</style>

{%endblock%}
 