{%extends 'Navigation.html'%}
{%block content%}
    <h1>Galeria de imagenes de la alberca</h1><br>
    <h2>Añadir imagenes a la galeria</h2>
    {{error}}
    <form action="#" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button>
            Registrar
        </button>
    </form>

   
    <h2>Imagenes añadidas</h2>
    {{pool.nombre}}
    {{pool.user}}
    
    {% for Pool_images in Pool_images %}
        <li>
            <img src="{{Pool_images.imagen.url}}" alt="" width="200"> <br>
        </li>       
    {% endfor %}
{% endblock %}