{%extends 'Navigation.html'%}
{%block content%}
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<div class="dj-banner">
    <div class="dj-bg">
        <img src="\static\cocote.webp" alt="" width="400px" height="400px">
        <div class="dj-text">
            <h1><b>S A R A</b></h1>
            <p>Sistema de administracion y renta de albercas</p> 
            <p><b>Rentar</b></p> 
            </a></p>
        </div>
    </div>            
</div>

<main calss = "container">
    <div class="row">
    <div class = "col-md-4 offset-md-4">
        
        <form id = "pagado" class = "card card-body text-center" action="#" method="POST">
            <strong><p class = "pp">{{error}}</p></strong>
            {% csrf_token %}
            <p>Escribe en este formato fecha: 2022-11-24 hora: 02:43:51</p>
            {{Date_time.as_p}}
            <h2>Selecciona el paquete</h2>
            <br>

            {% for Packs in Packs %}
              <div class="form-check form-check-inline pp">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="{{Packs.id}}" required>
                <label class="form-check-label" for="inlineRadio1">{{Packs.nombre}}</label>
              </div>
            {% endfor %}
            <br>
            <h2>Selecciona algun añadido</h2><br>
            {% for Extra in Extra %}
            <div class="form-check form-check-inline pp">
                <input class="form-check-input" type="checkbox" name = "caja" id="inlineCheckbox1" value="{{Extra.id}}" >
                <label class="form-check-label" for="inlineCheckbox1">{{Extra.nombre}}</label>
            </div>
            {% endfor %} <br>
            <p class="lead mb-4 pp">{% for Contract_text in Contract_text %} {{Contract_text.texto|linebreaks}} <br>{% endfor %}</p>
            <p>
            <input class="form-check-input pp2" type="checkbox" name = "terms" id="inlineCheckbox1" required>
            <label class="form-check-label pp2" for="inlineCheckbox1" >Aceptar terminos y condiciones</label>
            </p>
</script>
            <button>
                Aceptar
            </button>
        </form>
    </div>
    </div>
</main>    

<style>
.dj-banner{margin: 30px 0; position: relative;}
.dj-banner .dj-bg{background-color: #F8A796;}
.dj-banner .dj-bg img{display: block; margin: 20px auto; padding: 20px 0;}
.dj-banner .dj-text{text-align: center; padding-bottom: 20px;}
@media screen and (min-width:768px){
 .dj-banner .dj-bg img{margin-right: 100px;}
 .dj-banner .dj-text{position: absolute; top: 50%; left: 10%; transform: translate(-10%, -50%); width: 50%; text-align: left;}
 .dj-banner .dj-text h1{font-size: calc(2*1.5vw);}
 .dj-banner .dj-text p{font-size: calc(1.2*1.5vw);}
}
.pp{
font-size: 20px;
}
.img_a{
    border-radius: 15px;
    box-shadow: 0 3px 5px rgba(15, 15, 15, 15);
}

  </style>
{%endblock%}